@charset "UTF-8";

body {

    background-color: rgb(150, 221, 150);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {

    color: rgb(22, 136, 22) ;
}

h1#principal  {

color: white;
background-color: darkgreen;
text-align: center;

}

h2{

    color:rgb(46, 177, 63) ;
}